# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CMakeScripts/

# build
build/

# Settings and other
*.user
*.user.*
*.suo
*.ide
.vs/
.vscode/

# logs
*.log

# CLion, IDE
.idea/
*.iml

# tmp files
*.swp
*.swo
*~

# Qt files
moc_*
qrc_*
ui_*

# env
.env